header{
    background-color: green;
}
header h1{
    text-align:right;
    color: blue;

}
section{
    background-color: yellow;
 box-shadow: 10px 10px 5px #333333;
 border-radius: 55px;
 


}


    aside h1{
         text-align: center;
        background-color: grey;
        font-size: 40px
    
}
aside h1{
    
    background-color: green;
}
 img
{
    border-radius:50px;
    box-shadow:10px 10px 2px #333333;
}

footer
{
 text-align: center;
 
}



@keyframes movimiento-lateral {
    from {left: 0px; }
     to {left: 100px;}    
    
}

.textoanimado{
    animation-name:movimiento-lateral;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    position:relative;
    
}